{% load static%}

    {% block demandescomptemedecin %}
<!--    <p><a title="PROCEDURE_SYSCOMPTE" href="https://tibcoextranet.tibco.fr/sites/CONFLUENT/_layouts/15/WopiFrame.aspx?sourcedoc=%7BD3185A7E-D271-4B3F-8469-03F1CB97D6DA%7D&amp;file=N1D_SYSC_MOP_CREATION_COMPTE_UTILISATEUR.docx&amp;action=default&amp;CT=1625645770639&amp;OR=DocLibClassicUI" target="_blank" rel="noopener">Création de compte syscompte</a> -&gt;</p>
    <p><a title="PROCEDURE_AD" href="https://tibcoextranet.tibco.fr/sites/CONFLUENT/_layouts/15/WopiFrame.aspx?sourcedoc=%7B597D9F62-F292-4160-8035-C8BA09371514%7D&amp;file=N1D_AD_MOP_Demande_Creation_compte_Utilisateur.docx&amp;action=default&amp;CT=1625646221998&amp;OR=DocLibClassicUI" target="_blank" rel="noopener">Création de compte AD</a> -&gt;</p>
    <p><a title="PROCEDURE_MESSAGERIE" href="https://tibcoextranet.tibco.fr/sites/CONFLUENT/_layouts/15/WopiFrame.aspx?sourcedoc=%7BD05B2194-BBCD-4AFB-A0A9-91E0BC6AB10E%7D&amp;file=N1D_MESS_MOP_CREATION_COMPTE_UTILISATEUR.docx&amp;action=default&amp;CT=1625647884940&amp;OR=DocLibClassicUI" target="_blank" rel="noopener">Création de compte de Messagerie</a> -&gt;</p>
    <p>Test de Messagerie -&gt;</p>
    <p> </p>
    <p><a title="PROCEDURE_BIOLOIRE" href="https://tibcoextranet.tibco.fr/sites/CONFLUENT/_layouts/15/WopiFrame.aspx?sourcedoc=%7BE1436F67-142E-4E8E-A9DF-E13F51A6A4DD%7D&amp;file=N1D_BIOL_MOP_DEMANDE_CREATION_COMPTE_UTILISATEUR.docx&amp;action=default&amp;CT=1625650401572&amp;OR=DocLibClassicUI" target="_blank" rel="noopener">Demande de compte ORDONNE</a> -&gt;</p>
    <p>Envoi des identifiants -&gt;</p>
    <p> </p>
    <p><strong>ESCALADE AU SUPPORT APPLICATIF SOINS POUR :</strong></p>
    <p>Création de compte crossway </p>
    <p>Création de compte HM</p>
    <p>Création de compte HM BLOC</p>
    <p> </p>
    <p>Pouvez vous nous retournez le ticket, aprés la création de compte, pour finaliser la demande.</p>-->

<script>
    function choixoui(id)
    {
      if (document.getElementById(id).style.display == 'none')
      {
           document.getElementById(id).style.display = 'block';
      }
      else
      {
           document.getElementById(id).style.display = 'none';
      }
    }


</script>

 {% endblock %}