{% load static%}

    {% block content_user%}
<link rel="stylesheet" href="{% static '/css/style.css'%} ">
    <form>
       <div class="col">
         <div class="col">
              <input type="text" class="form-control" placeholder="Nom">
            </div>
         <div class="col">
              <input type="text" class="form-control" placeholder="Prenom">
        </div>
       </div>
        <div class="col">
        <div class="col">
              <input type="text" class="form-control" placeholder="telephone">
            </div>
         <div class="col">
              <input type="text" class="form-control" placeholder="poste de travail">
        </div>
        </div>
        <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Genre</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            Homme
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Femme
          </label>
        </div>

      </div>
    </div>
  </fieldset>

        <input type="button" value="Incident" onclick="faireapparaitre('diveapparueincident');" />

        <input type="button" value="Demande" onclick="faireapparaitre2('diveapparuedemanede');" />

</form>
<script>
function faireapparaitre(id)
    {
      if (document.getElementById(id).style.display == 'none')
      {
           document.getElementById(id).style.display = 'block';
      }
      else
      {
           document.getElementById(id).style.display = 'none';
      }
    }
    function faireapparaitre2(id)
    {
      if (document.getElementById(id).style.display == 'none')
      {
           document.getElementById(id).style.display = 'block';
      }
      else
      {
           document.getElementById(id).style.display = 'none';
      }
    }
</script>
    {% endblock %}

<!--togg1.addEventListener("click", () => {
  if(getComputedStyle(d1).display != "none"){
    d1.style.display = "none";
  } else {
    d1.style.display = "block";
  }
})-->
