{% load static%}

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a href="index">Accueil</a>
        </div>

        <ul class="list-unstyled components">

            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">formulaire de demande</a>
                    </li>
                    <li>
                        <a href="/">Incident</a>
                    </li>
                    <li>
                        <a href="#">Demande</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Procedures</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Demande de comptes</a>
                    </li>
                    <li>
                        <a href="#">Hopital manager</a>
                    </li>
                    <li>
                        <a href="#">telephonie</a>
                    </li>
                    <li>
                        <a href="#">imprimantes</a>
                    </li>
                    <li>
                        <a href="#">autres</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">tableau aide memoire compte</a>
            </li>
            <li>
                <a href="#">videos</a>
            </li>
        </ul>
         <div id="formul">
            {% include "usertemplate/user.html" with active_tab='tab1' %}
        </div>
    </nav>
    <div >
    <div id="diveapparueincident" style="display:none ;">
        <div class="carte-incident">
            <div class="menuincident" id=icones="choixincidents">
                {% include "incidentstemplates/incidents.html"  %}
            </div>
        </div>
    </div>
    <div id="diveapparuedemanede" style="display:none ;">
        <div class="carte-incident">
            <div class="menuincident" id=icones="choixdemande">
                {% include "demandetemplates/demande.html"  %}
            </div>
        </div>
    </div>
    </div>
<script>
    $(document).ready(function () {

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

});
$('.popover-dismiss').popover({
  trigger: 'focus'
})
</script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

