{% load static%}
    {% block demandes %}
    <div>
  <input type="button" value="demande de comptes" onclick="diveapparuechoixdecompte('diveapparuechoixdecompte');" />
    </div>
    <div id="diveapparuechoixdecompte">
        <div class="carte-incident">
            <div class="menudemandedecompte" id=icones="diveapparuechoixdecompte">
            {% include "demandetemplates/comptes/choixtypedecomptes.html"  %}
            </div>
        </div>
    </div>
    <script>
        function diveapparuechoixdecompte(id)
            {
                 if (document.getElementById(id).style.display == 'none')
                      {
                           document.getElementById(id).style.display = 'block';
                      }
                 else
                      {
                           document.getElementById(id).style.display = 'none';
                      }
            }
    </script>
    <script src="assets/jquery.min.js"></script>
    <script src="dist/js/bootstrap.bundle.min.js"></script>
        {% endblock %}