{% load static%}
    {% block demandes %}
    <div>
  <input type="button" value="Demande de compte" onclick="faireapparaitre('diveapparuechoixdecompte');" />
 {% block choixdecompte %}   {% endblock %}
    </div>
    <script>
        function faireapparaitre(id)
            {
                 if (document.getElementById(id).style.display == 'none')
                      {
                           document.getElementById(id).style.display = 'block';
                      }
                 else
                      {
                           document.getElementById(id).style.display = 'none';
                      }
            }
    </script>
        {% endblock %}