{% load static%}

    {% block incident %}
<div class="bordureicones">
    <div class="image-contenu-cadre">
<div style="padding-top: 9%;" class="image-contenu-pos" align="center"><a href="" target="downico"><img src="https://www.icone-gif.com/gif/smileys/ordinateur/bug2.gif" alt="bug2" border="0"></a><p>matériel</p></div>
</div>
        <div class="image-contenu-cadre">
    <div class="image-contenu-pos" align="center"><a href="" target="downico"><img src="https://www.icone-gif.com/gif/informatique/reseau/file_server_on_network_md_wht.gif" alt="file server on network md wht" border="0"><p>Reseau</p></a></div>
</div>
<div class="image-contenu-cadre">
    <div style="padding-left: 19%;width:100%;height:0;padding-bottom:68%;position:relative;"><iframe src="https://giphy.com/embed/TNf5oSRelTeI8" width="60%" height="60%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
   </div>
</div>

{% endblock %}


